

.gallery-container header {
    height: 100px;
    border: 1px solid;
    border-radius: 10px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: rgba(244, 213, 213, 0.615);
}

.gallery-container header h2 {
    text-align: center;
    /* margin-top: -40px; */
    font-size: 30px;
}

.gallery-container header .search-icon{
    position: absolute;
    left: 96.5%;
    margin-top: 20px;
}

.gallery-container header input{
    width: 200px;
    margin-left: auto;
    margin-top: -90px;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
    width: 200px;
    transition: .3s ease-in-out;

}

.gallery-container header input:focus {
    border-color: #007bff;
}

.gallery-container header .crt-btn {
    top: 20px;
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: 600px;
    margin-top: -60px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: rgb(76, 166, 76);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
    align-items: center;
    text-align: center;
}


.crt-btn:hover {
    cursor: pointer;
    background-color: aquamarine;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        scale: 1.1;
}


.gallery-container .grid {
    border: 2px solid;
    margin-top: 30px;
    /* margin-left: 50px; */
    background-color: rgba(219, 246, 223, 0.721);
    border-radius: 10px;
    border: none;
}
.no-scrollbar {
    overflow: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none; 
}

.photo-cell {
    padding: 20px;
    margin-left: 45px;
    margin-top: 10px;
    box-sizing: border-box;
    /* border: 2px solid; */
    border-bottom: 1px solid black;
    border-bottom-style:dotted;

    
}


.create-cell p{
    cursor: pointer;
    margin-left: -10px;
}

.plus{
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    margin-top: 70px;
    margin-left: 40px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.plus:hover{
    transform: scale(1.1);
}


.photo-cell img {
    width: 100%;
    height: 190px; 
    object-fit: cover; 
    border-radius: 8px;
    display: block;
    transition: .3s ease-out;

}

.photo-cell img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.1);
}

.photo-cell p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 17px;
}

.photo-cell button{
    height: 24px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.747);
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-out;
    font-weight: bold;
}
.photo-cell button:hover{
    scale: 1.1;
}


@media (max-width: 1200px) {
    .grid {
        column-count: 5;
        column-width: 180px;
    }
    .photo-cell {
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .grid {
        column-count: 4;
        column-width: 160px;
    }
}

@media (max-width: 768px) {
    .grid {
        column-count: 3;
        column-width: 140px;
    }
    .photo-cell img {
        height: 160px;
    }
}

@media (max-width: 576px) {
    .grid {
        column-count: 2;
        column-width: 120px;
    }
    .photo-cell {
        margin-left: 10px;
    }
    .photo-cell img {
        height: 140px;
    }
}

@media (max-width: 400px) {
    .grid {
        column-count: 1;
        column-width: 100px;
    }
    .photo-cell img {
        height: 120px;
    }
}
